@page {
  size: A4;
}
body {
  print-color-adjust: exact;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
}
.btn-print {
  z-index: 1;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.btn-pdf {
  z-index: 1;
  position: absolute;
  right: 1rem;
  top: 3.5rem;
}
.img-hover {
  position: absolute;
  left: 0.25rem;
  opacity: 0;
  transition: opacity 0.25s ease-in;
}
.img-hover:hover {
  opacity: 1;
}
.resume {
  height: 100%;
  display: flex;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: 'Source Serif Pro', serif;
  line-height: 1.5;
}
.resume .title {
  font-family: 'Lato Italic', sans-serif;
  font-weight: bold;
}
.resume #sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-top: 1rem;
  padding-right: 0;
  background-color: #f5f8fe;
}
.resume #sidebar #profile {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 7px solid #23609c;
  align-self: center;
}
.resume #sidebar .bandeau {
  background-color: #23609c;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: #fff;
  font-family: 'Lato Italic', sans-serif;
  margin-bottom: 0;
}
.resume .extra {
  margin-bottom: 0.5rem;
}
.resume .extra:last-child {
  margin-bottom: 0;
}
.resume .extra-info {
  line-height: 1.2;
}
.resume .extra-info small {
  color: #666;
  display: inline-block;
  font-size: 0.75rem;
}
.resume .extra-details,
.resume .extra-details_progress {
  border-radius: 7px;
}
.resume .extra-details {
  background-color: #d1d9e1;
  width: 100%;
  height: 7px;
  position: relative;
}
.resume .extra-details_progress {
  background-color: #23609c;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
}
.resume .info-item {
  margin-bottom: 0.2rem;
  font-weight: 300;
}
.resume .info-item:last-child {
  margin-bottom: 0;
}
.resume .info-label {
  display: inline-block;
  padding-right: 0.75rem;
  font-size: 1rem;
  text-align: center;
}
.resume .info-label i {
  color: #23609c;
}
.resume .resume_content {
  margin-top: 1rem;
}
@media print {
  .btn-print {
    display: none !important;
  }
}
@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 300;
  src: url("/fonts/Source Serif Pro 300.woff") format('woff');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 700;
  src: url("/fonts/Source Serif Pro 700.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  src: url("/fonts/Source Sans Pro 300.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  src: url("/fonts/Source Sans Pro 700.woff") format('woff');
}
@font-face {
  font-family: 'Lato Italic';
  font-weight: 300;
  src: url("/fonts/Lato Italic 300.woff") format('woff');
}
@font-face {
  font-family: 'Lato Italic';
  font-weight: 700;
  src: url("/fonts/Lato Italic 700.woff") format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: url("https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXg.woff2") format('woff2');
}
