// Tested colors
// #f68931 #5695cd #8b63bf #d0465f
$accentColor = #23609c
$lightAccentColor = #f5f8fe
$progressBackground = #d1d9e1
$unicodeRange = U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

$bs1 = .25rem
$bs2 = .5rem
$bs3 = .75rem
$bs4 = 1.5rem
$bs5 = 3rem

padding-horizontal(value)
  padding-left value
  padding-right value

padding-vertical(value)
  padding-top value
  padding-bottom value

margin-horizontal(value)
  margin-left value
  margin-right value

margin-vertical(value)
  margin-top value
  margin-bottom value

@page
  size A4

body
  print-color-adjust exact
  background-color #fff
  font-family 'Source Sans Pro', sans-serif
  font-weight 300
  display flex
  justify-content center

.btn-print
  z-index 1
  position absolute
  right 1rem
  top 1rem

.btn-pdf
  z-index 1
  position absolute
  right 1rem
  top 3.5rem

.img-hover
  position absolute
  left .25rem
  opacity 0
  transition opacity .25s ease-in
  &:hover
    opacity 1

.resume
  height 100%
  display flex
  font-size .9rem
  font-weight 400
  font-family 'Source Serif Pro', serif
  line-height 1.5

  .title
    font-family 'Lato Italic', sans-serif
    font-weight: bold

  #sidebar
    display flex
    flex-direction column
    row-gap 1rem
    padding-top 1rem
    padding-right 0
    background-color $lightAccentColor

    #profile
      width 170px
      height 170px
      border-radius 50%
      border 7px solid $accentColor
      align-self center
    
    .bandeau
      background-color $accentColor
      padding-vertical $bs2
      padding-horizontal $bs3
      color white
      font-family 'Lato Italic', sans-serif
      margin-bottom 0

  .extra
    margin-bottom $bs2
    &:last-child
      margin-bottom 0

  .extra-info
    line-height 1.2

  small
    color #666
    display inline-block
  
  .experiences small
    display block

  $radus = 7px
  .extra-details, .extra-details_progress
    border-radius $radus

  .extra-details
    background-color $progressBackground
    width 100%
    height $radus
    position relative

  .extra-details_progress
    background-color $accentColor
    height $radus
    position absolute
    top 0
    left 0

  .info-item
    margin-bottom .2rem
    font-weight 300
    &:last-child
      margin-bottom 0

  .info-label
    display inline-block
    padding-right $bs3
    font-size 1rem
    text-align center
    i
      color $accentColor
  .resume_content
    margin-top 1rem

@media print
  // Override Bootstrap body rule
  body
    // min-width initial !important

  .btn-print
    display none !important


@font-face
  font-family 'Source Serif Pro'
  font-weight 300
  src url('/fonts/Source Serif Pro 300.woff') format('woff')

@font-face
  font-family 'Source Serif Pro'
  font-weight 700
  src url('/fonts/Source Serif Pro 700.woff') format('woff')

@font-face
  font-family 'Source Sans Pro'
  font-weight 300
  src url('/fonts/Source Sans Pro 300.woff') format('woff')

@font-face
  font-family 'Source Sans Pro'
  font-weight 700
  src url('/fonts/Source Sans Pro 700.woff') format('woff')

@font-face 
  font-family 'Lato Italic'
  font-weight 300
  src url('/fonts/Lato Italic 300.woff') format('woff')
  
@font-face 
  font-family 'Lato Italic'
  font-weight 700
  src url('/fonts/Lato Italic 700.woff') format('woff')

// Google Fonts
// @font-face
//   font-family 'Open Sans'
//   font-style normal
//   font-weight 400
//   font-display swap
//   unicode-range $unicodeRange
//   src local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2')

// @font-face
//   font-family 'Roboto'
//   font-style normal
//   font-weight 400
//   font-display swap
//   unicode-range $unicodeRange
//   src local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2')

// latin
@font-face
  font-family 'Lato'
  font-style normal
  font-weight 400
  font-display swap
  unicode-range $unicodeRange
  src url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXg.woff2) format('woff2')
