mixin progress(progress)
  .extra-details
    .extra-details_progress(style={width: progress})

mixin skill(title)
  .extra
    .extra-info
      b.d-block= title
      block
    //- +progress(progress)

mixin stylesheet(href)
  link(rel='stylesheet' href=href)

mixin linkout(href)
  a(rel='noopener noreferrer nofollow' style='text-decoration:none;color:navy' href=href)
    block


doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title CV Benjamin Bordes
    link(rel='icon' href='/images/favicon.svg')
    //- +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css')
    //- +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/fontawesome.min.css')
    +stylesheet('/css/fontawesome.min.css')
    +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/solid.min.css')
    //- +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/regular.min.css')
    +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/brands.min.css')
    //- +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.min.css')
    +stylesheet('/css/paper.min.css')
    +stylesheet('/css/styles.min.css')
    +stylesheet('/css/styles.css')

  body.A4.flex-column
    .sheet
      button.btn.btn-print.btn-sm.btn-light(onClick='window.print()' style='top:1rem;right:1rem')
        | #[i.fa-solid.fa-print] Print
      a.btn.btn-print.btn-sm.btn-light(href='/en/CV Benjamin Bordes en.pdf' style='top:3.2rem;right:1rem')
        | #[i.fa-solid.fa-file-pdf] &nbsp;PDF
      a.btn.btn-print.btn-light.p-1(href='/' style='top:.5rem; left:.5rem;height:2.125rem')
        img(src='/images/UK flag.svg' style='height: 1.5rem')
        img.img-hover(src='/images/FR flag.svg' style='height: 1.5rem')

      .resume
        #sidebar(style='width:30%')
          a#profile(href='https://bbordes.fr')
            img#profile(src='/images/Benjamin%20Bordes.jpg' alt='Benjamin Bordes')

          h3.bandeau.text-center Benjamin Bordes
          .text-center
            .info-item
              span.info-label
                i.fa-solid.fa-location-arrow
              span Versailles, France
            .info-item
              span.info-label
                i.fa-solid.fa-envelope
              +linkout('mailto:bbordes@protonmail.com') bbordes@pm.me
            .info-item
              span.info-label
                i.fa-solid.fa-phone
              +linkout('tel:+33760342726') +33 7 60 34 27 26
            .info-item
              span.info-label
                i.fa-brands.fa-linkedin
              +linkout('https://www.linkedin.com/in/benjamin-bordes') Benjamin-Bordes
            p.mb-0 21 years old
            //- p.mb-0 Nationalité française
            p.mb-0 Driving licence

          h5.bandeau #[i.fa-solid.fa-laptop-code] &nbsp;SKILLS
          div.px-3
            +skill('Cybersecurity')
              small Kali · Nmap · Wireshark · Metasploit
            +skill('DevOps')
              small Docker · Shell · AWS · CI/CD
            +skill('Web Development')
              small ReactJS · React Native · Symfony · NestJS · HTML-CSS-JS · PHP
              small Preprocessors : Pug · Stylus · Sass
              small Libraries : Jquery · Bootstrap · Twig
              //- · Tailwind
            +skill('Databases')
              small MySQL · MariaDB · MongoDB
            +skill('Data science')
              small Python · R · MALTAB
            +skill('Other languages et softwares')
              small Java · C# · Markdown · Jamf Pro
            +skill('Version control')
              //- code versioning
              small Git · GitHub · GitLab
            +skill('Operating systems')
              small #[i.fa-brands.fa-windows] Windows · #[i.fa-brands.fa-linux] Linux · #[i.fa-brands.fa-apple] Mac OS

          h5.bandeau #[i.fa-solid.fa-earth-americas] &nbsp;LANGUAGES
          div.px-3
            .extra
              b French
              small &nbsp; (native)
              +progress('100%')
            .extra
              b English
              small &nbsp; (Bilingual, TOEIC 960/990)
              +progress('98%')
            .extra
              b Spanish
              small &nbsp; (B2)
              +progress('50%')


        .p-3(style='width:70%')
          .resume_content
            p.mb-2 Native French bilingual in English and passionate about science and IT,#[br]I have a good analytical mind, a great attention to detail and a strong#[br]adaptability to technological developments.

            h5.title PROFESSIONAL EXPERIENCES
            .flex-row.experiences
              .col-2
                img.ms-1(src='/images/anfsi.jpg' alt='' height='70')
                img.mb-3(src='/images/je.jpg' alt='' height='60')
                img.mb-4(src='/images/cardy.png' alt='' height='32')
                img.mb-3(src='/images/enoria.png' alt='' height='30')
                img(src='/images/LIL.jpg' alt='' height='40')
              .col
                small septembre 2023 - to this day
                p.mb-2 #[b DevOps apprenticeship at ANFSI]#[small (Agence du Numérique des Forces de Sécurité Intérieure)]
                small 2022 - to this day
                p.mb-2 #[b Junior ISEP Consultant] : tailor-made softwares and web solutions
                  | #[br]Development of a recruitment PWA in ReactJS and NestJS

                //- Mission de développement d'un site de recrutement en ReactJS et NestJS avec une base de données MongoDB.
                small May - July 2022
                p.mb-2 #[b Full Stack development Internship] of Prestashop modules in Symfony for different websites owned by Cardy
                small June - July 2021
                p.mb-2 #[b Full Stack Symfony and Bootstrap development internship] of#[br]new features on the Enoria application
                small June - July 2019
                p.mb-2 #[b Internship in the Lycée International de Londres' IT department]
                small 2017 - Août 2018
                p Fundraising, followed by a humanitarian mission in Ecuador
            
            h5.title EDUCATION
            .flex-row
              .col-2(style='width:13%')
                img.mt-3(src='/images/isep.png' alt='' width='55')
                img.mt-1(src='/images/st-ex.webp' alt='' width='65')
                img(src='/images/LIL.jpg' alt='' width='60')
              .col
                p.mb-2 #[b Engineering cycle at ISEP digital engineering school] #[small (2022-2025)] Paris
                p.mb-0 #[b Prépa intégrée at ISEP and Wrexham Glyndŵr University] #[small (2020-2022)]
                p.mb-0 International Integrated Cycle in English ; one semester at Wrexham :
                p.mb-2 Development of Windows (C#) and Android (Java) applications
                p.mb-0 #[b Lycée Saint Exupéry] #[small (2019-2020)] Montigny-le-Bretonneux, France
                p.mb-2 Scientific Baccalaureate, ISN speciality (Computer and digital sciences)
                p #[b Lycée International de Londres] #[small (2017-2019)] Wembley, United-Kingdom
            //- SJA ?

            h5.title CERTIFICATIONS
            p.mb-0 #[small May 2022 :] #[a(href='https://www.credly.com/badges/9cdcef02-4de8-4a72-ae7d-4dd4cffef94c/public_url' style='text-decoration:none;color:navy') #[b AWS Certified Solution Architect] - Associate]
            p #[small July 2021 :] #[b Junior ISEP Académie] creation and development of an iOS and Android application with a React Native front end and a Symfony back end
            //- p #[small May 2018 :] #[b ISE II], Speaking & Listening (Integrated Skills in English)

            h5.title HACKATHONS AND CTFs
            p.mb-0 #[small April 2023 :] #[b Wave Game] Offensive and defensive cyber technical challenge on AWS
            //- Wavestone
            p.mb-0 #[small March 2023 :] #[b Master Dev France] the biggest live code contest in France
            p.mb-0 #[small Octobre 2022 :] #[b CTF Break the Code IDF] on the theme of responsible digital
            //- Sopra Steria
            p #[small Octobre 2022 :] #[b Hackathon Green Code] Eco-conscious software development
            //- JE, 3DS outscale, Sagemcom

            h5.title.mb-0 HOBBIES
            .flex-row.text-center
              .col
                img(src='/images/programming.svg' alt='' height='50')
                p Programming and new technologies
              .col
                img(src='/images/climbing.svg' alt='' height='50')
                p Rock climbing
              .col
                img.p-1(src='/images/hackathon.png' alt='' height='50')
                p Hackathons #[br]and CTFs
              .col
                img.p-1(src='/images/bulb.png' alt='' height='50')
                p Problem solving
              //- .col
                img.p-1(src='/images/skiing.svg' alt='' height='50')
                br
                p Skiing