mixin progress(progress)
  .extra-details
    .extra-details_progress(style={width: progress})

mixin skill(title)
  .extra
    .extra-info
      b.d-block= title
      .mb-3
        block
    //- +progress(progress)

mixin stylesheet(href)
  link(rel='stylesheet' href=href)
  
mixin linkout(href)
  a(rel='noopener noreferrer nofollow' style='text-decoration:none;color:navy' href=href)
    block


doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title CV Benjamin Bordes
    link(rel='icon' href='/images/favicon.svg')
    //- +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css')
    //- +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/fontawesome.min.css')
    +stylesheet('/css/fontawesome.min.css')
    +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/solid.min.css')
    //- +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/regular.min.css')
    +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/brands.min.css')
    //- +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.min.css')
    +stylesheet('/css/paper.min.css')
    +stylesheet('/css/styles.min.css')
    +stylesheet('/css/styles.css')

  body.A4.flex-column
    .sheet
      button.btn.btn-print.btn-sm.btn-light(onClick='window.print()')
        | #[i.fa-solid.fa-print] Print
      button.btn.btn-print.btn-sm.btn-light(onClick="window.location='/en/CV Benjamin Bordes en.pdf'" style='top:3.4rem')
        | #[i.fa-solid.fa-file-pdf] &nbsp;PDF
      button.btn.btn-print.btn-sm.btn-light.p-1.pb-0(onClick="window.location='/'" style='top:.5rem; left:.5rem')
        img(src='/images/UK flag.svg' style='height: 1.5rem')
        img.img-hover(src='/images/FR flag.svg' style='height: 1.5rem')

      .resume
        #sidebar(style='width:30%')
          img#profile(src='/images/Benjamin%20Bordes.jpg' alt='Benjamin Bordes')

          h3.bandeau.text-center Benjamin Bordes
          .text-center
            .info-item
              span.info-label
                i.fa-solid.fa-location-arrow
              span Versailles, France
            .info-item
              span.info-label
                i.fa-solid.fa-envelope
              +linkout('mailto:bbordes@protonmail.com') bbordes@pm.me
            .info-item
              span.info-label
                i.fa-solid.fa-phone
              span +33 7 60 34 27 26
            .info-item
              span.info-label
                i.fa-brands.fa-linkedin
              +linkout('https://www.linkedin.com/in/benjamin-bordes') Benjamin-Bordes
            p.mb-0 20 years old
            //- p.mb-0 Nationalité française
            p.mb-0 Driving lisence

          h5.bandeau #[i.fa-solid.fa-laptop-code] &nbsp;SKILLS
          div.px-3
            +skill('JavaScript')
              small ReactJS · React Native · Jquery · NestJS
            +skill('HTML')
              small HTML5 · Pug · Markdown
            +skill('CSS')
              small CSS3 · Bootstrap · Stylus · Sass
            +skill('PHP')
              small PHP 7 & 8 · Symfony · Twig · Smarty
            +skill('Autres langages et logiciels')
              small Python · R · Java · C# · SQL · Git · GitHub · GitLab · Jamf Pro
            +skill('DevOps')
              small Docker · Shell · AWS · CI/CD
            +skill('Systèmes d\'exploitation')
              small.my-1 #[i.fa-brands.fa-windows] Windows · #[i.fa-brands.fa-linux] Linux · #[i.fa-brands.fa-apple] Mac OS

          h5.bandeau #[i.fa-solid.fa-earth-americas] &nbsp;LANGUAGES
          div.px-3
            .extra
              b French
              small &nbsp; (native)
              +progress('100%')
            .extra
              b English
              small &nbsp; (TOEIC 955/990)
              +progress('98%')
            .extra
              b Spanish
              small &nbsp; (B2)
              +progress('50%')


        .p-3(style='width:70%')
          .resume_content
            //-, le développement logiciel ou les systèmes embarqués
            p Currently looking for a 2 years aprentiship position in cybersecurity,#[br]with a 3-day/2-day work-study rithm starting in September 2023.
            p Native French bilingual in English and passionate about science and IT,#[br]I have a good analytical mind, a great attention to detail and a strong#[br]adaptability to technological developments.

            h5.title EDUCATION
            .flex-row
              .col-2(style='width:13%')
                img.mt-3(src='/images/isep.png' alt='' width='55')
                img.mt-1(src='/images/st-ex.webp' alt='' width='65')
                img(src='/images/LIL.jpg' alt='' width='60')
              .col
                p.mb-2 #[b Engeneering cycle at ISEP digital ingeneering school] (2022-2025)
                p.mb-0 #[b Prépa intégrée at ISEP and Wrexham Glindŵr University] (2020-2022)
                p.mb-0 International Integrated Cycle in English ; one semester at Wrexham :
                p.mb-2 Development of Windows (C#) and Android (Java) applications
                p.mb-0 #[b Lycée Saint Exupéry] (2019-2020) Montigny-le-Bretonneux
                p.mb-2 Terminale Scientific, ISN speciality (Computer and Digital Sciences)
                p #[b Lycée International de Londres Winston Churchill] (2017-2019)
            //- SJA ?
            h5.title PORFESSIONAL EXPERIENCES
            .flex-row
              .col-2
                img.mb-3(src='/images/je.jpg' alt='' height='60')
                img.mb-4(src='/images/cardy.png' alt='' height='32')
                img.mb-4(src='/images/enoria.png' alt='' height='30')
                img(src='/images/LIL.jpg' alt='' height='40')
              .col
                small 2022 - now
                p.mb-2 #[b Junior ISEP Consultant] : tailor-made softwares and web solutions
                  | #[br]Devlopment of a recruitment PWA in ReactJS and NestJS

                //- Mission de développement d'un site de recrutement en ReactJS et NestJS avec une base de données MongoDB.
                small May - July 2022
                p.mb-2 #[b Full Stack development Internship] of Prestashop modules in Symfony for different websites owned by Cardy
                small June - July 2021
                p.mb-2 #[b Full Stack Symfony and Bootstrap development internship] of#[br]new features on the Enoria application
                small June - July 2019
                p.mb-2 #[b Internship in the IT department] of the Lycée International de Londres Winston Churchill
                small 2017 - Août 2018
                p Fundraising, followed by a humanitarian mission in Ecuador

            h5.title CERTIFICATIONS
            p.mb-0 May 2022 : #[a(href='https://www.credly.com/badges/9cdcef02-4de8-4a72-ae7d-4dd4cffef94c/public_url' style='text-decoration:none;color:navy') #[b AWS Certified Solution Architect] - Associate]
            p.mb-0 July 2021 : #[b Junior ISEP Académie] (creation and development of an iOS and Android application with a React Native front end and a Symfony back end)
            p.mb-0 March 2021 : #[b TOEIC] Reading and Listening (955/990)
            p.mb-0 July 2020 : #[b Baccalauréat S], ISN speciality
            p May 2018 : #[b ISE II], Speaking & Listening (Integrated Skills in English)

            h5.title HOBBIES
            .flex-row.text-center
              .col
                img(src='/images/programming.svg' alt='' height='70')
                p Programming and new technologies
              .col
                img(src='/images/climbing.svg' alt='' height='70')
                p Rock climbing
              .col
                img.p-2(src='/images/hackathon.png' alt='' height='70')
                p Hackathons #[br]and CTFs
              .col
                img.p-2(src='/images/bulb.png' alt='' height='70')
                p Problem solving
              .col
                img(src='/images/skiing.svg' alt='' height='70')
                br
                p Skiing