mixin progress(progress)
  .extra-details
    .extra-details_progress(style={width: progress})

mixin skill(title)
  .extra
    .extra-info
      b.d-block= title
      block
    //- +progress(progress)

mixin stylesheet(href)
  link(rel='stylesheet' href=href)

mixin linkout(href)
  a(rel='noopener noreferrer nofollow' style='text-decoration:none;color:navy' href=href)
    block


doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title CV Benjamin Bordes
    link(rel='icon' href='/images/favicon.svg')
    //- +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css')
    //- +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/fontawesome.min.css')
    +stylesheet('/css/fontawesome.min.css')
    +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/solid.min.css')
    //- +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/regular.min.css')
    +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/brands.min.css')
    //- +stylesheet('https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.min.css')
    +stylesheet('/css/paper.min.css')
    +stylesheet('/css/styles.min.css')
    +stylesheet('/css/styles.css')

  body.A4.flex-column
    .sheet
      button.btn.btn-print.btn-sm.btn-light(onClick='window.print()' style='top:1rem;right:1rem')
        | #[i.fa-solid.fa-print] Print
      a.btn.btn-print.btn-sm.btn-light(href='/CV Benjamin Bordes 2023.pdf' style='top:3.2rem;right:1rem')
        | #[i.fa-solid.fa-file-pdf] &nbsp;PDF
      a.btn.btn-print.btn-light.p-1(href='/en' style='top:.5rem;left:.5rem;height:2.125rem')
        img(src='/images/FR flag.svg' style='height: 1.5rem')
        img.img-hover(src='/images/UK flag.svg' style='height: 1.5rem')

      .resume
        #sidebar(style='width:30%')
          img#profile(src='/images/Benjamin%20Bordes.jpg' alt='Benjamin Bordes')

          h3.bandeau.text-center Benjamin Bordes
          .text-center
            .info-item
              span.info-label
                i.fa-solid.fa-location-arrow
              span Versailles, France
            .info-item
              span.info-label
                i.fa-solid.fa-envelope
              +linkout('mailto:bbordes@protonmail.com') bbordes@pm.me
            .info-item
              span.info-label
                i.fa-solid.fa-phone
              +linkout('tel:+33760342726') +33 7 60 34 27 26
            .info-item
              span.info-label
                i.fa-brands.fa-linkedin
              +linkout('https://www.linkedin.com/in/benjamin-bordes') Benjamin-Bordes
            p.mb-0 20 ans
            //- p.mb-0 Nationalité française
            p.mb-0 Permis B

          h5.bandeau #[i.fa-solid.fa-laptop-code] &nbsp;COMPÉTENCES
          div.px-3
            +skill('Cybersécurité')
              small Kali · Nmap · Wireshark · Metasploit
            +skill('DevOps')
              small Docker · Shell · AWS · CI/CD
            +skill('Développement Web')
              small ReactJS · React Native · Symfony · NestJS · HTML-CSS-JS · PHP
              small Préprocesseurs : Pug · Stylus · Sass
              small Librairies : Jquery · Bootstrap · Twig
              //- · Tailwind
            +skill('Base de données')
              small MySQL · MariaDB · MongoDB
            +skill('Data science')
              small Python · R · MALTAB
            +skill('Autres langages et logiciels')
              small Java · C# · Markdown · Jamf Pro
            +skill('Gestion de version')
              //- code versioning/version control
              small Git · GitHub · GitLab
            +skill('Systèmes d\'exploitation')
              small #[i.fa-brands.fa-windows] Windows · #[i.fa-brands.fa-linux] Linux · #[i.fa-brands.fa-apple] Mac OS

          h5.bandeau #[i.fa-solid.fa-earth-americas] &nbsp;LANGUES
          div.px-3
            .extra
              b Français
              small &nbsp; (natif)
              +progress('100%')
            .extra
              b Anglais
              small &nbsp; (Bilingue, TOEIC 955/990)
              +progress('99%')
            .extra
              b Espagnol
              small &nbsp; (B2)
              +progress('50%')


        .p-3(style='width:70%')
          .resume_content
            //-, le développement logiciel ou les systèmes embarqués
            p.mb-2 Actuellement à la recherche d’un poste en alternance, idéalement dans #[br]la Cybersécurité, d’une durée de 2 ans à compter de septembre 2023.
            p Bilingue anglais et passionné par les sciences et l’informatique, j’ai un bon esprit d’analyse, un grand souci du détail et une forte adaptabilité face aux évolutions technologiques.

            h5.title EXPÉRIENCES PROFESSIONNELLES
            .flex-row.experiences
              .col-2
                img.my-2.mb-3(src='/images/je.jpg' alt='' height='60')
                img.mb-4(src='/images/cardy.png' alt='' height='32')
                img.mb-3(src='/images/enoria.png' alt='' height='30')
                img(src='/images/LIL.jpg' alt='' height='40')
              .col
                small 2022 - à ce jour
                p.mb-2 #[b Consultant Junior ISEP] : solutions web et logiciels sur mesure
                  | #[br]Développement d'une PWA de recrutement en ReactJS et NestJS
                small Mai - Juillet 2022
                p.mb-2 #[b Stage de Développement Full Stack] de modules Prestashop en Symfony pour les différents sites web de Cardy
                small Juin - Juillet 2021
                p.mb-2 #[b Stage de Développement Full Stack], Symfony et Bootstrap de nouvelles fonctionnalités sur l’application Enoria
                small Juin - Juillet 2019
                p.mb-2 #[b Stage au service informatique] du Lycée International de Londres
                small 2017 - Août 2018
                p Récolte de fonds, suivie d’une mission humanitaire en Équateur

            h5.title FORMATIONS
            .flex-row
              .col-2(style='width:13%')
                img.mt-3(src='/images/isep.png' alt='' width='55')
                img.mt-1(src='/images/st-ex.webp' alt='' width='65')
                img(src='/images/LIL.jpg' alt='' width='60')
              .col
                p.mb-2 #[b Cycle ingénieur, ISEP École d’ingénieurs du numérique] #[small (2022-2025)]
                p.mb-0 #[b Prépa intégrée, ISEP et Wrexham Glyndŵr University] #[small (2020-2022)]
                p.mb-0 Cycle Intégré International Anglophone ; un semestre à Wrexham :
                p.mb-2 Développement d’applications Windows (C#) et Android (Java)
                p.mb-0 #[b Lycée Saint Exupéry] #[small (2019-2020)] Montigny-le-Bretonneux, France
                p.mb-2 Baccalauréat S spécialité ISN (Informatique et Sciences du Numérique)
                p #[b Lycée International de Londres] #[small (2017-2019)] Wembley, Royaume-Uni
            //- SJA ?

            h5.title CERTIFICATIONS
            p.mb-0 #[small Mai 2022 :] #[a(href='https://www.credly.com/badges/9cdcef02-4de8-4a72-ae7d-4dd4cffef94c/public_url' style='text-decoration:none;color:navy') #[b AWS Certified Solution Architect] - Associate]
            p #[small Juillet 2021 :] #[b Junior ISEP Académie] création et développement d'une application pour iOS et Android en React Native avec un backend en Symfony
            //- p #[small Mai 2018 :] #[b ISE II], Speaking & Listening (Integrated Skills in English)

            h5.title HACKATHONS ET CTFs
            p.mb-0 #[small Avril 2023 :] #[b Wave Game] Challenge Cyber technique offensif et défensif sur AWS
            //- Wavestone
            p.mb-0 #[small Mars 2023 :] #[b Master Dev France] le plus grand Concours de code live de France
            p.mb-0 #[small Octobre 2022 :] #[b CTF Break the Code IDF] sur le thème du numérique responsable
            //- Sopra Steria
            p #[small Octobre 2022 :] #[b Hackathon Green Code] Développement logiciel Eco-responsable
            //- JE, 3DS outscale, Sagemcom

            h5.title.mb-0 LOISIRS
            .flex-row.text-center
              .col
                img(src='/images/programming.svg' alt='' height='50')
                p.small Programmation et nouvelles technologies
              .col
                img(src='/images/climbing.svg' alt='' height='50')
                p.small Escalade
              .col
                img.p-1(src='/images/bulb.png' alt='' height='50')
                p.small Résolution de problèmes
              .col
                img.p-1(src='/images/hackathon.png' alt='' height='50')
                p.small Hackathons #[br]et CTFs
              //- .col
                img(src='/images/skiing.svg' alt='' height='50')
                br
                p.small Ski